<div class="profile">
  <%= render "shared/sidebar",current_user:Current.user %>
  <div class="profile_body">
    <div class="profile_header">

      <div class="profile_avatar">
        <% if !@profile.profile_image.byte_size.nil? %>
          <%= image_tag @profile.profile_image,class:"profile_image"%>
        <% else %>
          <%= gravatar_image_tag(@profile.email, size:64,alt:current_user.name,class:"profile_image") %>
        <% end %>
      </div>

      <div class="post_headerText">
        <h3 class="follow_unfollow_button">
          <%= @profile.name  %>
          <% if !(@profile.id==current_user.id) %>
            <% if current_user.following?(@profile) %>
              <%= render "unfollow",profile:@profile %>
            <%elsif%>
              <%= render "follow",profile:@profile %>
            <% end %>
          <% elsif %>
            <%= link_to "" , edit_user_registration_path,class:"fa-solid fa-gear ms-4" %>
          <% end %>
        </h3>
        <% if (@profile.id==current_user.id) %>
          <%= render "profiles/follow_unfollow_count", profile:@profile %>
        <% end %>

      </div>
    </div>

    <div class="profile_body">
      <%= turbo_frame_tag "tweets" do %>
        <% @user_tweets.each do |tweet| %>
          <%= render "tweets/#{tweet.tweet_type&.parameterize}", tweet:tweet %>
        <% end %>
      <%end%>
    </div>
