<div class="profile">
  <%=render "shared/sidebar"%>
  <div class="profile_body">
    <div class="profile_header">

      <div class="profile_avatar">
        <%if !@profile.profile_image.byte_size.nil?%>
          <%= image_tag @profile.profile_image,class:"profile_image"%>
        <%else%>
          <%=gravatar_image_tag(@profile.email, size:64,alt:current_user.name,class:"profile_image")%>
        <%end%>
      </div>

      <div class="post_headerText">
        <h3><%=@profile.name  %><button class="btn btn-primary ms-3">Follow</button>  <%=link_to "" , edit_user_registration_path,class:"fa-solid fa-gear ms-4"%></h3>
        <p class="mt-3">Followers- 100   Following- 77</p>

      </div>
    </div>

    <div class="profile_body">
      <%@profile.tweets.all.each do |tweet|%>
        <%=render "tweets/tweet", tweet:tweet%>
      <%end%>
    </div>
    <div>
    </div>
  </div>
</div>