<%if !comment.id.nil?%>
  <div class="post">
    <div class="post_avatar">
      <%if !comment.user.profile_image.byte_size.nil?%>
        <%= image_tag comment.user.profile_image,class:"post_image"%>
      <%else%>
        <%=gravatar_image_tag(comment.user.email, size:64,alt:current_user.name,class:"post_image")%>
      <%end%>
    </div>
    <div class="post_body">
      <div class="post_header">
        <div class="post_headerText">
          <h3><%=link_to comment.user.name, profile_path(comment.user.id),data:{"turbo-frame": "_top"}%><span class="post_headerSpecial"> @<%=comment.user.username%></span></h3>
          <p class= "post_headerTimestamp"><%= comment.created_at%> </p>
        </div>
        <div class=post_headerDescription>
          <p> <%=comment.body%></p>
        </div>
        <%if !comment.comment_image.byte_size.nil?%>
          <%= image_tag comment.comment_image,style:"border-radius:0"%>
        <%end%>
      </div>
      <div class="post_footer">
        <div class="likeOption">
          <%= render "comments/commentlike",comment:comment %>
        </div>
        <% if comment.user.id == current_user.id %>
          <div class="deleteOption">
            <%= link_to "", [comment.tweet, comment], data: {
              turbo_method: :delete,
              turbo_confirm: "Are you sure?"
            },class:"fa-solid fa-trash" %>
          </div>
        <%end%>
      </div>
    </div>
  </div>
<%end%>