<%= form_with model: tweet,data:{controller:"reset-form",action:"turbo:submit-end->reset-form#reset"} do |form| %>
  <div class="tweetBox">
    <% if !tweet.user.profile_image.byte_size.nil? %>
      <%= image_tag tweet.user.profile_image,class:"tweetbox_profile_image mt-3"%>
    <%else%>
      <%=gravatar_image_tag(tweet.user.email, size:64,alt:current_user.name,class:"tweetbox_profile_image mt-3")%>
    <%end%>
    <div class="tweetBox_input">
      <%= form.text_area :body, placeholder: "Whats happening?" %><br>
      <% tweet.errors.full_messages_for(:body).each do |message| %>
        <div><%= message %></div>
      <% end %>
      <div class="tweet_form_footer" style="display:flex;justify-content:space-between">
        <%= form.submit "Tweet", id:"create_tweet",class:"tweet_button mt-3"%>
        <div class="field mb-3 custom-file">
          <%= form.label "Tweet image (optional)",class:"custom-file-label" %><br />
          <%= form.file_field :tweet_image, class:"custom-file-input;padding-top:15px" %>
        </div>
      </div>
    </div>
  </div>
<% end %>