<%= turbo_frame_tag dom_id(tweet) do%>
<div class="post">
  <div class="post_avatar">
    <%if !tweet.user.profile_image.byte_size.nil?%>
      <%= image_tag tweet.user.profile_image,class:"post_image"%>
    <%else%>
      <%=gravatar_image_tag(tweet.user.email, size:64,alt:current_user.name,class:"post_image")%>
    <%end%>
  </div>
  <div class="post_body">
    <div class="post_header">
      <div class="post_headerText">
        <h3><%=tweet.user.name%> <span class="post_headerSpecial"> @<%=tweet.user.username%></span></h3>
        <p class="post_headerTimestamp"><%= tweet.created_at%> </p>

      </div>
      <div class=post_headerDescription>
        <p> <%=tweet.body%></p>
      </div>
    </div>
    <div class="post_footer">
      <i class="fa-solid fa-heart"></i>
      <div class="commentOption">
        <span><%=link_to "",tweet ,class:"fa-solid fa-comment",data:{"turbo-frame": "_top"}%>  <%=tweet.comments.count%></span>
      </div>
      <i class="fa-solid fa-retweet"></i>
    </div>
  </div>
</div>
<%end%>