<div class="app">
  <%= render "shared/sidebar",current_user:Current.user %>
  <div class="people_likes_names">
    <% @tweet.likes.each do |like| %>
      <div class="wrapper">
        <% if !like.user.profile_image.byte_size.nil? %>
          <%= image_tag like.user.profile_image,class:"notification_image" %>
        <%else%>
          <%= gravatar_image_tag(like.user.email, size:64,alt:like.user.name,class:"notification_image") %>
        <% end %>
        <article>
          <h4>@<%= link_to "#{like.user.username}",profile_path(like.user) %></h4>
          <p><%= "#{like.user.username} liked your post" %></p>
        </article>
      </div>
    <% end %>
  </div>
</div>