<div class="app">
  <%=render "shared/sidebar"%>
  <div class="post single_post">
    <div class="post_avatar">
      <i class="fa-solid fa-user"></i>
    </div>
    <div class="post_body">

      <div class="post_header">
        <div class="post_headerText">
          <h3><%=@tweet.user.name%> <span class="post_headerSpecial"> @<%=@tweet.user.username%></span></h3>
          <p class="post_headerTimestamp"><%= @tweet.created_at%> </p>
        </div>

        <div class=post_headerDescription>
          <p> <%=@tweet.body%></p>
        </div>
      </div>

      <div class="post_footer">
        <i class="fa-solid fa-heart"></i>
        <i class="fa-solid fa-comment"></i>
        <i class="fa-solid fa-retweet"></i>
      </div>

      <div class="comments_form">
        <%= render 'comments/form' %>
      </div>
      <div class="comments_body">
        <%if @tweet.comments.length > 1 %>
          <%= render @tweet.comments %>
        <%end%>
      </div>
    </div>
  </div>


