<% like_status||= local_assigns[:like_status] %>
<%= turbo_stream_from "public_likes" %>
<%= turbo_stream_from "public_tweets" %>
<%= turbo_frame_tag "tweet_#{tweet.id}" do%>
  <div class="post">
    <div class="post_avatar">
      <% if !tweet.parent_tweet.user.profile_image.byte_size.nil? %>
        <%= image_tag tweet.parent_tweet.user.profile_image,class:"post_image" %>
      <% else %>
        <%= gravatar_image_tag(tweet.parent_tweet.user.email, size:64,alt:"No img",class:"post_image") %>
      <% end %>
    </div>
    <div class="post_body">
      <div class="post_header">
        <div class="post_headerText">
          <h3>Replied by <span class="post_headerSpecial"> @<%= link_to tweet.user.name, profile_path(tweet.user.id),data:{"turbo-frame": "_top"} %></span></h3>
          Tweeted by <span class="post_headerSpecial"> @<%= link_to tweet.parent_tweet.user.username, profile_path(tweet.parent_tweet.user.id),data:{"turbo-frame": "_top"} %></span>
          <p class= "post_headerTimestamp"><%= tweet.created_at%> </p>
        </div>
        <div class=post_headerDescription>
          <p> <%= tweet.body %></p>
        </div>
        <% if !tweet.tweet_image.byte_size.nil? %>
          <%= image_tag tweet.tweet_image,style:"border-radius:0" %>
        <% end %>
      </div>
      <div class="post_footer">
        <div class="likeOption">
          <%= render "likes/like_button",tweet:tweet,like_status:like_status %>
        </div>
        <div class="commentOption">
          <%= link_to "",tweet ,class:"fa-solid fa-comment",data:{"turbo-frame": "_top"} %>
        </div>
        <div class="retweetedOption">
          <span><%= button_to "",retweet_tweet_path(tweet) ,method: :post,class:"fa-solid fa-retweet",data:{"turbo-frame": "_top"},id:"retweet_#{tweet.id}" %></span>
        </div>
        <div class="deleteOption">
          <%= render "tweets/delete_tweet" ,tweet:tweet %>
        </div>
      </div>
    </div>
  </div>
<% end %>